{"swagger":"2.0","info":{"description":"PharmVar now provides a beta version of a RESTful API service to facilitate convenient utilization of genes, alleles, and variants defined in the PharmVar Database served in JSON format. For information about available services, please see the documentation below. Limitations: Please limit usage to 2 service calls per second to ensure service stability for all users. The PharmVar API now requires a valid API key for access. Keys may be generated with a PharmVar Account on the Account Settings Page.","version":"0.2","title":"PharmVar API Services","termsOfService":"https://www.pharmvar.org/terms-and-conditions","license":{"name":"Send Us Your Feedback","url":"mailto:support@pharmvar.orgs"}},"host":"www.pharmvar.org","basePath":"/","tags":[{"name":"pharm-var-controller","description":"PharmVar Controller"}],"paths":{"/api-service/alleles":{"get":{"tags":["Alleles"],"summary":"Returns information for all alleles in the PharmVar database","operationId":"getAllelesForAPIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Allele"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/list":{"get":{"tags":["Alleles"],"summary":"Returns a list of all active alleles defined in the PharmVar database","operationId":"getAlleleListForAPIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alle Info"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}":{"get":{"tags":["Alleles"],"summary":"Returns information for a single allele with a given PharmVar ID or allele name","operationId":"getAllelesForAPIByIdentifierUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"CYP2D6*31.001"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Allele"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/allele-name":{"get":{"tags":["Alleles"],"summary":"Returns the allele name for an allele","operationId":"getAlleleLabelUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"PV00115"},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/evidence-level":{"get":{"tags":["Alleles"],"summary":"Returns the evidence level for a given allele","operationId":"getAlleleEvidenceLevelUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"PV00115"},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/function":{"get":{"tags":["Alleles"],"summary":"Returns the CPIC Clinical Function for an allele","operationId":"getAlleleFunctionUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"PV00115"},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/pvid":{"get":{"tags":["Alleles"],"summary":"Returns the PharmVar ID for an allele","operationId":"getAllelePvIdUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"CYP2D6*31.001"},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/references":{"get":{"tags":["Alleles"],"summary":"Returns the list of references for an allele","operationId":"getAlleleReferencesUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"PV00115"},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Reference"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/alleles/{identifier}/variants":{"get":{"tags":["Alleles"],"summary":"Returns the variants for an allele","operationId":"getAlleleVariantsUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"CYP2D6*31.001"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes":{"get":{"tags":["Genes"],"summary":"Returns information for all genes in the PharmVar database","operationId":"getGenesForAPIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Gene"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes/entrez-gene/{id}":{"get":{"tags":["Genes"],"summary":"Returns all information for a single gene with a given Entrez Gene ID","operationId":"getGenesForAPIByEntrezGeneIdUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"id","in":"path","description":"The Entrez Gene ID","required":true,"type":"string","x-example":"1565"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Gene"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes/hgnc/{id}":{"get":{"tags":["Genes"],"summary":"Returns all information for a single gene with a given HGNC ID","operationId":"getGenesForAPIByHgncIdUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"id","in":"path","description":"The HGNC ID","required":true,"type":"string","x-example":"2625"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Gene"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes/list":{"get":{"tags":["Genes"],"summary":"Returns a list of all genes defined in the PharmVar database","operationId":"getGeneListForAPIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes/pharmgkb/{id}":{"get":{"tags":["Genes"],"summary":"Returns all information for a single gene with a given ClinPGx ID","operationId":"getGenesForAPIByPharmgkbIdUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"id","in":"path","description":"The ClinPGx ID","required":true,"type":"string","x-example":"PA128"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Gene"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/genes/{symbol}":{"get":{"tags":["Genes"],"summary":"Returns all information for a single gene with a given gene symbol","operationId":"getGenesForAPIBySymbolUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"exclude-sub-alleles","in":"query","description":"Exclude sub-allele definitions from results","required":false,"type":"boolean","default":false},{"name":"function","in":"query","description":"Filter results by function","required":false,"type":"string","enum":["decreased function","function not assigned","increased function","normal function","not available","possibly decreased","severely decreased","uncertain function","unknown function"]},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"min-evidence-level","in":"query","description":"Filter results by minimum evidence level","required":false,"type":"string","enum":["Definitive","Limited","Moderate"]},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"symbol","in":"path","description":"The gene symbol","required":true,"type":"string","x-example":"CYP2D6"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Gene"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants":{"get":{"tags":["Variants"],"summary":"Returns information for all variants in the PharmVar database","operationId":"getVariantsForAPIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/allele/{identifier}":{"get":{"tags":["Variants"],"summary":"Returns the variants for an allele","operationId":"getVariantsForAlleleUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"identifier","in":"path","description":"The allele identifier.Can be either a PharmVar ID or an allele name","required":true,"type":"string","x-example":"CYP2D6*31.001"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-alleles","in":"query","description":"Include retired allele definitions from previous versions of the database","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/gene/{symbol}":{"get":{"tags":["Variants"],"summary":"Returns all variants for a gene","operationId":"getVariantsForGeneUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"symbol","in":"path","description":"The gene symbol","required":true,"type":"string","x-example":"CYP2D6"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/rsid/{rsId}":{"get":{"tags":["Variants"],"summary":"Returns all information for a single variant with a given rsId number","operationId":"getVariantsForAPIByRSIdUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"include-reference-variants","in":"query","description":"Include reference variants in results such as A>A or C>C. Reference variants indicate the existence of substitution variants on another reference sequence.","required":false,"type":"boolean","default":false},{"name":"include-retired-reference-sequences","in":"query","description":"Include variants from retired reference sequences defined in previous versions of the database","required":false,"type":"boolean","default":false},{"name":"position","in":"query","description":"Filter results by variant position","required":false,"type":"integer","format":"int32","x-example":5233},{"name":"reference-base-sequence","in":"query","description":"Filter results by reference base sequence","required":false,"type":"string","enum":["A","C","G","T"]},{"name":"reference-collection","in":"query","description":"Filter results by reference collection","required":false,"type":"string","enum":["GRCh37","GRCh38","RefSeqGene","RefSeqTranscript"]},{"name":"reference-location-type","in":"query","description":"Filter results by reference starting location","required":false,"type":"string","enum":["ATG Start","Sequence Start"]},{"name":"reference-sequence","in":"query","description":"Filter results by reference sequence","required":false,"type":"string","x-example":"NG_008376.4"},{"name":"rsId","in":"path","description":"The rsId of the variant","required":true,"type":"string","x-example":"rs1080995"},{"name":"variant-base-sequence","in":"query","description":"Filter results by observed variant base sequence","required":false,"type":"string","enum":["A","C","G","T"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/rsid/{rsId}/impact":{"get":{"tags":["Variants"],"summary":"Returns the amino acid impact of a variant with a given rsId number","operationId":"getVariantImpactUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"rsId","in":"path","description":"The rsId of the variant","required":true,"type":"string","x-example":"rs1080995"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/rsid/{rsId}/variant-frequency":{"get":{"tags":["Variants"],"summary":"Returns variant frequency information for a variant with a given rsId number","operationId":"getVariantFrequencyUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"rsId","in":"path","description":"The rsId of the variant","required":true,"type":"string","x-example":"rs1080995"}],"responses":{"200":{"description":"OK","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Variant Frequency"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/spdi/{spdi}":{"get":{"tags":["Variants"],"summary":"Returns all information for a single variant with a given SPDI designation","operationId":"getVariantsForAPIBySPDIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"spdi","in":"path","description":"The SPDI designation of the variant(Reference Sequence:Position:Deletion:Insertion)","required":true,"type":"string","x-example":"NG_008376.4:5232:G:C"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Variant"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/spdi/{spdi}/impact":{"get":{"tags":["Variants"],"summary":"Returns the amino acid impact of a variant with a given SPDI designation","operationId":"getVariantImpactBySPDIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"spdi","in":"path","description":"The SPDI designation of the variant(Reference Sequence:Position:Deletion:Insertion","required":true,"type":"string","x-example":"NG_008376.4:5232:G:C"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api-service/variants/spdi/{spdi}/variant-frequency":{"get":{"tags":["Variants"],"summary":"Returns variant frequency information for a variant with a given SPDI designation","operationId":"getVariantFrequencyBySPDIUsingGET","produces":["*/*"],"parameters":[{"name":"Api-Key","in":"header","description":"The API Key","required":false,"type":"string"},{"name":"spdi","in":"path","description":"The SPDI designation of the variant(Reference Sequence:Position:Deletion:Insertion","required":true,"type":"string","x-example":"NG_008376.4:5232:G:C"}],"responses":{"200":{"description":"OK","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Variant Frequency"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Alle Info":{"type":"object","properties":{"alleleName":{"type":"string","description":"The allele name"},"geneSymbol":{"type":"string","description":"The gene symbol"},"pvId":{"type":"string","description":"The PharmVar ID"}},"title":"Alle Info","description":"A representation containting basic Allele infoormation"},"Allele":{"type":"object","properties":{"activeInd":{"type":"boolean","description":"Indicates if the allele is the most recent, active version or a retired version of the allele"},"activityScore":{"type":"string","description":"The CPIC Activity Score"},"alleleName":{"type":"string","description":"The name of the allele"},"alleleType":{"type":"string","description":"The allele type for genes with core allele definitions. Can be 'Core' or 'Sub'"},"coreAllele":{"type":"string","description":"The allele name of the associated core allele for a sub-allele."},"description":{"type":"string","description":"For complex alleles, a description may be provided instead of a list of variants"},"evidenceLevel":{"type":"string","description":"The allele evidence level. D=Definitive, M=Moderate, L=Limited"},"function":{"type":"string","description":"The CPIC Clinical Function for the allele"},"geneSymbol":{"type":"string","description":"The gene symbol for the associated gene"},"hgvs":{"type":"string","description":"The definition of the allele in HGVS notation for the RefSeqGene"},"legacyLabel":{"type":"string","description":"The legacy name for the allele"},"pvId":{"type":"string","description":"The PharmVar ID"},"references":{"type":"array","description":"The allele references","uniqueItems":true,"items":{"$ref":"#/definitions/Reference"}},"url":{"type":"string","description":"The PharmVar URL for the allele"},"variantGroups":{"type":"array","description":"The list of variant groups associated with the allele","uniqueItems":true,"items":{"$ref":"#/definitions/Variant Group"}},"variants":{"type":"array","description":"The list of variants associated with the allele","uniqueItems":true,"items":{"$ref":"#/definitions/Variant"}}},"title":"Allele","description":"A representation of a PharmVar allele"},"Gene":{"type":"object","properties":{"alleles":{"type":"array","description":"The list of alleles associated with this gene","uniqueItems":true,"items":{"$ref":"#/definitions/Allele"}},"entrezGeneId":{"type":"string","description":"The Entrez Gene ID"},"geneName":{"type":"string","description":"The full gene name"},"geneSymbol":{"type":"string","description":"The gene symbol"},"hgncId":{"type":"string","description":"The HGNC ID"},"pharmgkbId":{"type":"string","description":"The ClinPGx ID"}},"title":"Gene","description":"A representation of a PharmVar gene"},"Reference":{"type":"object","properties":{"citation":{"type":"string","description":"The reference citation"},"url":{"type":"string","description":"The URL for the reference"}},"title":"Reference","description":"A representation of a PharmVar reference"},"Variant":{"type":"object","properties":{"hgvs":{"type":"string","description":"The HGVS sytax for the variant"},"impact":{"type":"string","description":"The amino acid impact for the variant"},"position":{"type":"string","description":"The Position String for the variant as it is stored in the PharmVar database (may differ from the HGVS String)."},"referenceCollections":{"type":"array","description":"The reference collections for the variant","uniqueItems":true,"items":{"type":"string"}},"referenceLocation":{"type":"string","description":"The reference location type defining the start position for counting"},"referenceSequence":{"type":"string","description":"The reference sequence for the variant"},"rsId":{"type":"string","description":"The RS ID Number for the variant"},"url":{"type":"string","description":"The PharmVar URL for the variant"},"variantFrequency":{"type":"array","description":"The list of variant frequencies associated with the variant","uniqueItems":true,"items":{"$ref":"#/definitions/Variant Frequency"}},"variantId":{"type":"string","description":"The transient variant ID used for identifying corresponding positions across multiple reference sequences. This ID may change between database versions."}},"title":"Variant","description":"A representation of a PharmVar variant"},"Variant Frequency":{"type":"object","properties":{"frequency":{"type":"number","format":"double","description":"The frequency value"},"source":{"type":"string","description":"The source of the frequency data"}},"title":"Variant Frequency","description":"A representation of a variant frequency"},"Variant Group":{"type":"object","properties":{"hgvsGene":{"type":"string","description":"The HGVS value for the RefSeq Gene"},"hgvsGrch37":{"type":"string","description":"The HGVS value for GRCh37"},"hgvsGrch38":{"type":"string","description":"The HGVS value for GRCh38"},"hgvsTranscript":{"type":"string","description":"The HGVS value for the RefSeq Transcript"},"impact":{"type":"string","description":"The amino acid impact for the variant"},"label":{"type":"string","description":"The group label"},"rsIds":{"type":"array","description":"The rsIds associated with this group","uniqueItems":true,"items":{"type":"string"}},"variantIds":{"type":"array","description":"The list of variant Ids associated with this group","uniqueItems":true,"items":{"type":"integer","format":"int32"}}},"title":"Variant Group","description":"A representation of a PharmVar Variant Group"}}}